* {
    border: solid 1px;
    box-sizing: border-box;
}

html {
    border: none;
}

.msg-box-main {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

body {
    margin: 0px auto;
    border: none;
    min-width: 1024px;
    max-width: 1200px;
}

.body {
    height: 800px;
    background-color: #ff0;
}

.header .top-banner {
    height: 44px;
}

.top-header {
    height: 44px;
}

.top-header logo-main {
    height: 24px;

}

.main-header {
    height: 43px;
}
